<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script></head>
<body>
  <span id="status">network status</span>
  <button id="openModal">設定</button>
  <select name="channel" id="channel">
    <option value="main">雑談</option>
    <option value="battle">バトスタ</option>
  </select>
  <label for="verify">スピ限</label>
  <input type="checkbox" id="verify" name="verify">
  <br>
  <label for="message"></label>
  <textarea id="message" rows="6" required></textarea>
  <br>
  <button onclick="sendMessageByUser()">送信</button>
  <br>
    
  <div id="modalOverlay">
    <div id="modal">
      <button id="closeModal">閉じる</button>
      <h3>設定</h3>
      <label for="name">名前</label>
      <input type="text" id="name" value="" maxlength="25" required>　
      <label for="seed">シード</label>
      <input type="text" id="seed" value="" required>
      <br>
      <label for="darkmode">ダークモード:</label>
      <input type="checkbox" id="darkmode" name="darkmode">
      <br>
      <label for="font">フォント:</label>
      <select name="font" id="font-select">
        <option value="">default</option>
        <option value="Monospace">Monospace</option>
        <option value="Arial">Arial</option>
        <option value="Helvetica">Helvetica</option>
        <option value="Times New Roman">Times New Roman</option>
        <option value="Verdana">Verdana</option>
      </select>
      <br>
      <label for="font-size">フォントサイズ:</label>
      <input name="font-size" type="range" min=6 max=26 id="font-size">
      <output id="font-size-val"></output>
    </div>
  </div>
  <div id="result">loading...</div>
<style>
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}

textarea {
  margin: 10px;
}

#status {
  position: absolute;
  top: 10px;
  right: 10px;
}

.online {
  background-color: greenyellow;
  box-shadow: 0 0 7px limegreen;
}

.offline {
  background-color: red;
  box-shadow: 0 0 7px orangered;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: rgba(225, 225, 225, 0.1);
  text-align: left;
}

#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 20px;
  background-color: white;
  display: none;
  border-radius: 5px;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  height: 1em;
  border-radius: 0;
}
</style>
<script>
// オートリンク
function autoLink(str) {
  var regexp_url = /(https?:\/\/[a-zA-Z0-9.\-_@:/~?%&;=+#',()*!]+)/g;
  var regexp_makeLink = function(all, url, h, href) {
    return '<a href="' + href + '">' + url + '</a>';
  }
  return str.replace(regexp_url, regexp_makeLink);
}

function sendMessage(name, seed, channel, message) {
  if (name=='' || seed=='' || channel=='' || message=='') {
    console.warn('Invalid argument(s).')
  } else {
    $.ajax({
      type: 'GET',
      url: '/bbs/result',
      data: {
        'name': name,
        'seed': seed,
        'message': message,
        'channel': channel
      }
    });
  }
}

// メッセージ送信
function sendMessageByUser() {
  var name = $('#name').val();
  var seed = $('#seed').val();
  var message = $('#message').val();
  var channel = $('#channel').val();
  sendMessage(name, seed, channel, message);
  $('#message').val("");
}

// メッセージ読み込み
var xhr;
function loadMessage() {
  if (xhr && xhr.readyState !== 4) {
    xhr.abort();
  }
  
  var channel = $('#channel').val();
  var filter = $('#verify').prop('checked');
  
  xhr = $.ajax({
    type: 'GET',
    url: '/bbs/api',
    headers: { 'Accept': null },
    xhrFields: {
      withCredentials: true
    },
    data: {
      'channel': channel,
      'verify': filter,
      't': 0
    },
    success: function(data) {
      $('#result').html(data);
      $('table tr').each(function() {
        var firstTd = $(this).find('td:first');
        var secondTd = $(this).find('td:eq(1)');
        var number = firstTd.text();
        var username = secondTd.html();
        firstTd.html(`<button class="anchor">${number}</button>`);
        secondTd.html(`<button class="userIDAnchor">${username}</button>`);
      });
      $('.anchor').click(function() {
        var currentMsg = $('#message').val();
        $('#message').val(currentMsg + '>>' + $(this).text() + ' ');
      });
      $('.userIDAnchor').click(function() {
        var currentMsg = $('#message').val();
        var cmdRegex = /^\/(dis)?speaker|manager|moderator$/g;
        if (currentMsg.match(cmdRegex)) {
          $('#message').val(currentMsg + ' ' + $(this).text());
        } else {
          $('#message').val(currentMsg + $(this).text());
        }
      });
    }
  });
}

// ネットワークコネクション検知
function updateConnectionStatus() {
  var status = $('#status');
  if (navigator.onLine) {
    status.removeClass('offline').addClass('online');
    status.text('online');
  } else {
    status.removeClass('online').addClass('offline');
    status.text('offline');
  }
}

$(document).ready(function() {
  updateConnectionStatus();
  window.addEventListener('online', updateConnectionStatus);
  window.addEventListener('offline', updateConnectionStatus);

  loadMessage();
  
  var selectedChannel = localStorage.getItem('channel');
  if (selectedChannel) {
    $('#channel').val(selectedChannel);
  }
  
  $('#channel').change(function() {
    var newSelectedChannel = $(this).val();
    localStorage.setItem('channel', newSelectedChannel);
    loadMessage();
  });

  var isVerified = localStorage.getItem('verify') === 'true';
  $('#verify').prop('checked', isVerified);

  $('#verify').change(function() {
    var isVerified = $(this).prop('checked');
    localStorage.setItem('verify', isVerified.toString());
    loadMessage();
  });

  var storedName = localStorage.getItem('name');
  var storedSeed = localStorage.getItem('seed');

  if (storedName) {
    $('#name').val(storedName);
  }
  if (storedSeed) {
    $('#seed').val(storedSeed);
  }
  
  $('#name').on('input', function() {
    var newName = $(this).val();
    localStorage.setItem('name', newName);
  });
  $('#seed').on('input', function() {
    var newSeed = $(this).val();
    localStorage.setItem('seed', newSeed);
  });

    $('#openModal').click(function() {
    $('#modalOverlay').fadeIn(300);
    $('#modal').fadeIn(300);
  });

  $('#closeModal').click(function() {
    $('#modalOverlay').fadeOut(300);
    $('#modal').fadeOut(300);
  });
  
  var selectedFont = localStorage.getItem('font');
  if (selectedFont) {
    $('#font-select').val(selectedFont);
    $('body').css('font-family', selectedFont);
  }
  
  $('#font-select').change(function() {
    var newSelectedFont = $(this).val();
    localStorage.setItem('font', newSelectedFont);
    $('body').css('font-family', newSelectedFont);
  });
  
  var selectedFontSize = localStorage.getItem('font-size');
  if (selectedFontSize) {
    $('#font-size').val(selectedFontSize);
    $('body').css('font-size', `${selectedFontSize}px`);
    $('#font-size-val').text(`${selectedFontSize}px`);
  }
  
  $('#font-size').change(function() {
    var newFontSize = $(this).val();
    localStorage.setItem('font-size', newFontSize)
    $('body').css('font-size', `${newFontSize}px`);
    $('#font-size-val').text(`${newFontSize}px`);
  });

  var isDarkmode = localStorage.getItem('darkmode') === 'true';
  $('#darkmode').prop('checked', isDarkmode);

  $('#darkmode').change(function() {
    var isDarkmode = $(this).prop('checked');
    localStorage.setItem('darkmode', isDarkmode.toString());
    if (isDarkmode) {
      $('body').css('background-color', 'black');
      $('#modal').css('background-color', 'black');
      $('body').css('color', 'white');
      $('button').css('color', 'white');
    } else {
      $('body').css('background-color', 'white');
      $('#modal').css('background-color', 'white');
      $('body').css('color', 'black');
      $('button').css('color', 'black');
    }
  });
  if (isDarkmode) {
    $('body').css('background-color', 'black');
    $('#modal').css('background-color', 'black');
    $('body').css('color', 'white');
    $('button').css('color', 'white');
  } else {
    $('body').css('background-color', 'white');
    $('#modal').css('background-color', 'white');
    $('body').css('color', 'black');
    $('button').css('color', 'black');
  }

  loadMessage();
  setInterval(function() { loadMessage(); }, 5000);
});
</script>
</body>
</html>
