<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="views/main.js"></script>
  <link rel="stylesheet" href="views/style.css">
</head>
<body>
  <span id="status">network status</span>
  <label for="message">メッセージ</label>
  <textarea id="message" rows="6" cols="100" required></textarea>
  <br>
  <label for="name">名前</label>
  <input type="text" id="name" value="" maxlength="25" required>　
  <label for="seed">シード</label>
  <input type="text" id="seed" value="" required>
  <button onclick="sendMessageByUser()">送信</button>
  <br>
  <select name="channel" id="channel">
    <option value="main">雑談</option>
    <option value="battle">バトスタ</option>
  </select>
  スピ限<input type="checkbox" id="verify" name="verify"><br>
  <div id="result">loading...</div>
<style>
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 100vw;
}

#status {
  position: absolute;
  right: 10px;
}

.online {
  background-color: greenyellow;
  box-shadow: 0 0 0.5em limegreen;
}

.offline {
  background-color: red;
  box-shadow: 0 0 0.5em orangered;
}

.anchor {
  border-radius: 0;
  background-color: #ddd;
}
</style>
<script>
// オートリンク
function autoLink(str) {
  var regexp_url = /(https?:\/\/[a-zA-Z0-9.\-_@:/~?%&;=+#',()*!]+)/g;
  var regexp_makeLink = function(all, url, h, href) {
    return '<a href="h' + href + '">' + url + '</a>';
  }
  return str.replace(regexp_url, regexp_makeLink);
}

function sendMessage(name, seed, channel, message) {
  if (name=='' || seed=='' || channel=='' || message=='') {
    console.warn('Invalid argument(s).')
  } else {
    $.ajax({
      type: 'POST',
      url: `${localStorage.getItem('instance')}/bbs/result`,
      data: {
        'name': name,
        'seed': seed,
        'message': message,
        'channel': channel
      }
    });
  }
}

// メッセージ送信
function sendMessageByUser() {
  var name = $('#name').val();
  var seed = $('#seed').val();
  var message = $('#message').val();
  var channel = $('#channel').val();
  sendMessage(name, seed, channel, message);
  $('#message').val("");
}

// メッセージ読み込み
var xhr;
function loadMessage() {
  if (xhr && xhr.readyState !== 4) {
    xhr.abort();
  }
  
  var channel = $('#channel').val();
  var filter = $('#verify').prop('checked');

  if (localStorage.getItem('instance') === null) {
    return
  }
  xhr = $.ajax({
    type: 'GET',
    url: '/bbs/api',
    headers: { 'Accept': null },
    xhrFields: {
      withCredentials: true
    },
    data: {
      'channel': channel,
      'verify': filter,
      't': 0
    },
    success: function(data) {
      $('#result').html(data);
      $('table tr').each(function() {
        var firstTd = $(this).find('td:first');
        var content = firstTd.text();
        firstTd.html(`<button class="anchor">${content}</button>`);
      });
      $('.anchor').click(function() {
        var currentMsg = $('#message').val();
        $('#message').val(currentMsg + '>>' + $(this).text() + ' ');
      });
    }
  });
}

// ネットワークコネクション検知
function updateConnectionStatus() {
  var status = $('#status');
  if (navigator.onLine) {
    status.removeClass('offline').addClass('online');
    status.text('online');
  } else {
    status.removeClass('online').addClass('offline');
    status.text('offline');
  }
}

$(document).ready(function() {
  updateConnectionStatus();
  window.addEventListener('online', updateConnectionStatus);
  window.addEventListener('offline', updateConnectionStatus);

  loadMessage();
  
  var selectedChannel = localStorage.getItem('channel');
  if (selectedChannel) {
    $('#channel').val(selectedChannel);
  }
  
  $('#channel').change(function() {
    var newSelectedChannel = $(this).val();
    localStorage.setItem('channel', newSelectedChannel);
    loadMessage();
  });

  var isVerified = localStorage.getItem('verify') === 'true';
  $('#verify').prop('checked', isVerified);

  $('#verify').change(function() {
    var isVerified = $(this).prop('checked');
    localStorage.setItem('verify', isVerified.toString());
    loadMessage();
  });

  var storedName = localStorage.getItem('name');
  var storedSeed = localStorage.getItem('seed');

  if (storedName) {
    $('#name').val(storedName);
  }
  if (storedSeed) {
    $('#seed').val(storedSeed);
  }
  
  $('#name').on('input', function() {
    var newName = $(this).val();
    localStorage.setItem('name', newName);
  });
  $('#seed').on('input', function() {
    var newSeed = $(this).val();
    localStorage.setItem('seed', newSeed);
  });

  loadMessage();
  setInterval(function() {
    loadMessage();
  }, 5000);
});
</script>
</body>
</html>
